.home{
    width: 100%;
    .banner{
      width: 100%;
      height: 1000px;
      border: 1px solid black;
      background: url("../../assets/home-poster.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }