.header{
    width: calc(100% - 20px);
    // width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 0;
    left: 0;
    z-index: 10000;
    .header__search{
        display: flex;
        align-items: center;
        width: 50%;
        height: 50px;
        margin: 10px;
        img{
            width: 80px;
            margin: 0 5px;
        }
        .search-box{
            width: 400px;
            margin: 0 10px;
            border: 1px solid lightgray;
            border-radius: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            input{
                width: calc(100% - 56px);
                border: none;
                margin: 0 10px;
                height: 100%;
                outline: none;
                font-size: 15px;
            }
            .icon{
                margin: 0 10px;
                width: 16px;
                height: 16px;
            }
        }
        @media only screen and (max-width: 1080px) {
            .search-box {
              width: 300px;
            }
          }
    }
    .header__controller{
        height: 50px;
        border-radius: 20px;
        margin: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        .controller{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 10px;
            a{
                text-decoration: none;
            }
            .button1{
                width: 100px;
                margin: 5px 10px;
                height: calc(100% - 10px);
                cursor: pointer;
                border-radius: 10px;
                border: none;
                border-radius: 12px;
                background: white;
                color: #4E4AF2;
                border: 1px solid #4E4AF2;
            }
            .button1:hover{
                
                border: 2px solid #4E4AF2;
            }
            .button2{
                width: 100px;
                margin: 5px 10px;
                height: calc(100% - 10px);
                cursor: pointer;
                border-radius: 10px;
                border: none;
                border-radius: 12px;
                background: var(--primary-color, #4E4AF2);
                color: white;
                border: 1px solid #4E4AF2;
            }
            .button2:hover{
                border: 2px solid #100dec;
            }
            
            .icon{
                width: 60px;
                justify-content: space-between;
                margin: 0 10px;
                display: flex;
            }
        }
        .user{
            width: 140px;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 10px;
            .info{
                display: flex;
                width: calc(100% - 50px);
                height: 100%;
                flex-direction: column;
                justify-content: center;
            }
            .avatar{
                width: 50px;
                height: 100%;
                margin-left: 10px;
            }
        }
    }
    @media only screen and (max-width: 980px) {
        .header__controller {
          justify-content: start;
        }
      }
}
// html:not([data-scroll='100']) header {
//     width: 100%;
//     margin: 0;
// }
